@model List<Course>

@{
    ViewData["Title"] = "Courses";
}


<div class="container">
    <div class="row">
        <a>Add Course</a>
    </div>
    <div class="row">
        <table class="table">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Max Capacity</th>
                </tr>
            </thead>
            <tbody>
                @foreach(Course crs in Model)
                {
                    <tr>
                        <td>@crs.Title</td>
                        <td>@crs.Description</td>
                        <td>@crs.MaxCapacity</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>