
@{
    ViewData["Title"] = "Home";
}


<div class="container text-center">
    <div class="row">
        <div>
            <h1>Educate</h1>
            <span style="color: #848784">' Let's manage your system '</span>
        </div>
    </div>
    <div class="row">
        <br />
        <br />
    </div>
    <div class="row">
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="/assets/images/Courses.jpeg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Courses</h5>
                    <p class="card-text">Explore our available courses.</p>
                    <a class="btn btn-warning" asp-controller="Courses">Courses</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="/assets/images/Students.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Students</h5>
                    <p class="card-text">Explore our Students.</p>
                    <a class="btn btn-warning" asp-controller="Students">Students</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="/assets/images/Enrollment.jpeg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Enrollments</h5>
                    <p class="card-text">Explore students registrations.</p>
                    <a href="#" class="btn btn-warning">Enrollments</a>
                </div>
            </div>
        </div>
    </div>
</div>