@model EnrollmentFormVM

@{
    ViewData["Title"] = "Add";
    SelectList courses = new SelectList(Model.Courses, nameof(Course.Id), nameof(Course.Title));
    SelectList students = new SelectList(Model.Students, nameof(EnrollFormSelectStudentDataVM.Id), nameof(EnrollFormSelectStudentDataVM.ShowedData));
}


<div class="container">
    <div class="row text-center">
        <div class="col-2"></div>
        <div class="col">
            <h5>Enroll Students at Courses</h5>
        </div>
        <div class="col-2">
            <h4>Available Slots</h4>
            <h4 id="slots"></h4>
        </div>
    </div>
    <div class="row text-center mt-4" >
    </div>
    <div class="row mt-2">
        <div class="col-2"></div>
        <div class="col">
            <form asp-controller="Enrollments">
                <div class="from-group mt-4">
                    <label asp-for="selectedCrsId"></label>
                    <select class="form-select" onchange="GetSlots()" asp-for="selectedCrsId" asp-items="courses">
                        <option value="0" selected disabled>Select Course</option>
                    </select>
                    <span class="text-danger" asp-validation-for="selectedCrsId"></span>
                </div>
                <div class="from-group mt-2">
                    <label asp-for="SelectedStudentsIds" class="form-label mt-4"></label>
                    <select class="form-select select2" onchange="CheckIfEnrolled()" asp-for="SelectedStudentsIds" asp-items="students"
                            multiple="multiple" data-placeholder="Select Students">
                        <option disabled></option>
                    </select>
                    <span asp-validation-for="SelectedStudentsIds" class="text-danger"></span>
                </div>
                <div class="from-group mt-4 text-center">
                    <button type="submit" class="btn btn-success">Save</button>
                </div>
            </form>
        </div>
        <div class="col-2"></div>
    </div>
</div>



@section Scripts {
    <partial name="_ValidationScriptsPartial"></partial>
    <script src="~/js/new-enrollment.js"></script>
}