@model List<Course>

@{
    ViewData["Title"] = "Enrollments";

    SelectList courses = new SelectList(Model, nameof(Course.Id), nameof(Course.Title));
}


<div class="container">
    <div class="row">
        <div class="col-6 md">
            <a class="btn btn-warning btn-lg" asp-action="Add">
                <i class="bi bi-plus-circle"> New Enrollment</i>
            </a>
        </div>
    </div>
    <div class="row text-center mt-4">
        <div>
            <h4>Select Course to show all enrolled Students</h4>
        </div>
    </div>
    <div class="row text-center mt-4">
        <div>
            <select id="crs" name="crs" asp-items="courses" onchange="GetStudents()">
                <option value="0" selected disabled>Select Course</option>
            </select>
        </div>
    </div>
    <div class="row text-center mt-4">
        <div id="enrolled">
            
        </div>
    </div>
</div>


@section Scripts{
    <script src="~/js/get-students-per-course.js"></script>
    @* <script src="~/js/confirm-enrollment-delete.js"></script> *@
}